#footer {
    display: flex;
    width: 1920px;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);

}

#footerMsg {
    display: flex;
    width: 1920px;
    height: 100px;
    left: 0px;
    bottom: -1px;  
    color: #FFFFFF;
}

#refleshMsg {
    display: flex;
    width: 541px;
    height: 58px;
    left: 354px;
    top: 1014px;
    line-height: 15px;
    text-align: right;

    color: #FFFFFF;

}

#time-box {
    display: flex;
    width: 97px;
    height: 61px;
    left: 1195px;
    top: 990px;
    line-height: 61px;
    text-align: center;

    color: #FFFFFF;
}

#continueMsg {
    display: flex;
    width: 95.49px;
    height: 28.56px;
    left: 1679.15px;
    top: 1017.17px;
    line-height: 15px;
    text-align: center;
    color: #C13216;

}

#loulgout {
    display: flex;
    width: 89px;
    height: 55px;
    left: 1815px;
    top: 1003px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}
