#Home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #f3e9e7;
}

    
#home-page {
    display: flex;
    width: 100%;
    height: 85%;
    background: green;

}

#logo-bola {
    display: flex;
    width: 0%;
   
}

#logo-bola {
    display: flex;
    width: 70%;
    height: 64%;
    align-items: center;
    
    background: url(bola-LogoCompasso.png);


}





