#headerHome{
    background-color: #F0F0F0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
}

#containerLogo{
    max-width: 140px;
}

#horario{
    font-size: 65px;
    height: 92%;
    color: #222222;
}

#Dia{
    text-align: center;
    color: #222222;
    font-size: 13px;
}

#CondicoesCllima{
    margin: 1em;
    margin-right: 5%;
}

#Localizacao h1{
    font-size: 12px;
}

#Clima{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45px;
}


#Clima p{
    font-size: 40px;
    font-weight: bold;
    color: #222222;

}